@use "../abstracts/" as *;

.sort_history-grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin:20px 0;
    @include min768px{
        grid-template-columns: repeat(2,1fr);
    }
}

// our team 

.our-team-grid{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 20px;
    margin:20px 0;
}
.our-team-card{
    grid-column: span 6;
    
    @include min992px{
        grid-column: span 3;
    }
    img{
        width: 100%;
    }
    .img-container{
        margin-bottom: 20px;
    }
    
}

// join our team

.join-our-team{
    width: 100%;
    position: relative;
    
    background-color: black;
    img{
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: 0;
        opacity: 50%;
    }
}
.join-our-team-container{
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    gap: 30px;
    padding: 50px 0;
    margin: auto;

}