@use "../abstracts/" as *;


header{
    width: 100%;
}

.Nav-main-logo{
    margin-top: 60px;
    margin-bottom: 60px;
}
.Main-nav-container{
    width: 100%;
    border-top: 1px solid lightgray;
    .wrapper{
        padding:15px 0;
    }
}

.header-nav{
    display: none;
    @include min992px{
        display: flex;
        justify-content: space-between;
        gap: 15px;
     }
}

.main-nav-links{
    display: none;
    font-family: 'Roboto',sans-serif;
    @include min992px{
        display: inline-block;
     }
   text-transform: uppercase;  
}

